*/target
*/*/target
*/.project
*/bin
*/.settings
*/.idea
*/.classpath
*/out
*.iml
com.yang.test.java.spring.cloud/consul.producer/target/classes/META-INF/maven/com.yang.test.java/consul.producer/pom.properties
mongodb/java.mongodb/.classpath
mongodb/java.mongodb/.project
