<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yang.test.java.springboot.dao.UserDao">
	<insert id="insert">
		select * from h_tenant_account a, h_tenant_account b, h_tenant_account c
	</insert>
</mapper>