package com.lyzh.msa.dao.dao.console;

import com.lyzh.msa.dao.base.dao.BaseDAO;
import com.lyzh.msa.framework.common.entity.console.${entityCN};

/**
 * ${entityCN}
 * 
 * @author yangrenzhi
 * @date  ${date}
 * @Description ${entityCN}DAO
 * @since 4.0.1
 */
public interface ${entity}DAO extends BaseDAO<${entity}, ${entity}> {
}