package com.xk.campushealth.dao;

import org.springframework.data.jpa.repository.JpaRepository;
import org.springframework.data.jpa.repository.JpaSpecificationExecutor;

import com.xk.campushealth.entity.$entityName;

#set($temp="I"+$entityName+"Dao")
public interface $temp extends JpaRepository<$entityName, Integer>, JpaSpecificationExecutor<$entityName> {
}