package com.lyzh.msa.framework.common.entity.console;


import java.io.Serializable;

import com.lyzh.msa.framework.common.base.BaseEntity;

/**
 * ${entityCN} 实体类
 * 
 * @author yangrenzhi
 * @date  ${date}
 * @Description
 * @since 4.0.1
 */
public class $entity extends BaseEntity implements Serializable {

	private static final long serialVersionUID = -1198897385651491059L;
}