package $package;

import javax.persistence.Entity;
import javax.persistence.GeneratedValue;
import javax.persistence.GenerationType;
import javax.persistence.Id;

@Entity
public class $tableName {

#foreach($column in $columns)
	private $column.type $column.name;
#end

#foreach($column in $columns)
#set($temp="get"+$column.bigName+"()")
#if($column.isPk==true)	@Id
#end
#if($column.isPk==true)	@GeneratedValue(strategy = GenerationType.IDENTITY)
#end
	public $column.type $temp {
		return $column.name;
	}
#set($temp="set"+$column.bigName+"("+$column.type+" "+$column.name+")")
	public void $temp {
		this.$column.name = $column.name;
	}
#end
}