package com.lyzh.saas.console.rpc;

import java.util.List;

import org.springframework.cloud.openfeign.FeignClient;
import org.springframework.web.bind.annotation.RequestMapping;

import com.lyzh.msa.framework.common.entity.console.${entity};

/**
 * @Auther: yrz
 * @Date: ${date}
 * @Description: 获取${entityCN} DAO 接口数据
 */
@FeignClient("com-lyzh-msa-dao")
public interface ${entity}RPC {
	/**
	 * 新增
	 */
	@RequestMapping("/dao/console/${entity}/insert")
	String insert(${entity} entity);
	

	/**
	 * 修改
	 */
	@RequestMapping("/dao/console/${entity}/update")
	String update(${entity} entity);
	

	/**
	 * 列表
	 */
	@RequestMapping("/dao/console/${entity}/find")
	List<${entity}> find();
}