<?xml version="1.0" encoding="UTF-8"?>
<!-- 
start 1表示启动监控
frequency 300000 表示300秒执行一次检查
process port 表示服务端口 exec表用其中的命令启动程序 execTime经过多少时间，执行下一个程序


nohup java -DconfigFilePath=/opt/check/config.xml -Djava.ext.dirs=/opt/check/lib -cp /opt/check/com.zyxk.sevice.check-0.0.1-SNAPSHOT.jar com.zyxk.sevice.check.BootController > nohup.check.out & cd .
nohup java -DconfigFilePath=/opt/check/config.xml -jar /opt/check/com.lyzh.check.jar > nohup.check.out & cd .
 -->
<config>
	<frequency>30000</frequency>
	<start>1</start>
	<processes><!-- 
		<process>
			<port>9092</port>
			<exec>sh /opt/kafka/bin/kafka-server-start.sh /opt/kafka/config/server.properties</exec>
			<execTime>10000</execTime>
		</process> -->
	</processes>
</config>