<?xml version="1.0" encoding="UTF-8"?>
<hibernate-configuration>
	<session-factory><!-- 
		<property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://172.28.51.33:3306/test</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">123456</property> -->
		<property name="hibernate.show_sql">false</property>
		
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		
 		<property name="hibernate.tenant_identifier_resolver">com.yang.test.java.hibernate.TenantIdResolver</property>
		<property name="hibernate.multiTenancy">DATABASE</property>
		<property name="hibernate.multi_tenant_connection_provider">com.yang.test.java.hibernate.ConfigurableMultiTenantConnectionProvider</property>

		<mapping resource="User.hbm.xml" />
	</session-factory>
</hibernate-configuration>