<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %logger{36} %M %L - %msg%xEx%n" />
		</Console>
		<File name="log" fileName="C:/log/error.log" append="false">
			<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %logger{36} %M %L - %msg%xEx - f %n" />
		</File>
	</Appenders>
	<Loggers>
		<logger name="com.yang.test.java.log.log4j.Test" level="DEBUG">
			<AppenderRef ref="log" />
		</logger>
		<Root level="INFO">
			<AppenderRef ref="Console" />
		</Root>
	</Loggers>
</Configuration>